#wrapper { min-height: 100vh; }
#sidebar-wrapper {
  position: fixed;
  height: 100vh;
  transition: transform 0.3s ease;
}
#page-content-wrapper {
  margin-left: 260px;
  transition: margin-left 0.3s ease;
}

/* Sidebar Toggled state */
#wrapper.toggled #sidebar-wrapper {
  transform: translateX(-260px);
}
#wrapper.toggled #page-content-wrapper {
  margin-left: 0;
}

@media (max-width: 991px) {
  #sidebar-wrapper { position: relative; width: 100%; height: auto; transform: none !important; }
  #page-content-wrapper { margin-left: 0; }
}
